{
    "presets": ["@babel/react", "@babel/preset-stage-1"],

    "env": {
        "test": {
            "plugins": ["@babel/transform-modules-commonjs"]
        }
    },

    "plugins": [
        "@babel/proposal-object-rest-spread",
        ["module-resolver", {
            "root": ["./src"],
            "alias": { "@": "./src", "@fp": "./src/lib/fp" }
        }]
    ]
}