{
    "presets": ["react" ],

    "env": {
        "targets": {
            "browsers": ["last 2 Chrome versions", "last 1 Firefox versions"]
        },

        "test": {
            "plugins": ["transform-es2015-modules-commonjs"]
        }
    },

    "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        ["module-resolver", {
            "root": ["./src"],
            "alias": { "@": "./src" }
        }]
    ]
}