@import "common";

    
.card {
    @extend %common;
    padding: 0;
    list-style: none;
    position: relative;
    transition: all .3s;
    background: white;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
}

.head{
    border-bottom: 1px solid #e8e8e8;
    padding: 0 24px;
    border-radius: 2px 2px 0 0;
    margin-bottom: -1px;
    min-height: 48px;
}

.flex {
    display: flex;
}

.title {
    font-size: 16px;
    padding: 16px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    display: inline-block;
    flex: 1;
}

.body {
    padding: 24px;
}