@import "variables";

@import "common";


.checkbox {
    @extend %common;
    padding: 0;
    display: inline-block;

    & > input {
        position: absolute;
        left: -9999px;
    }

    & > span {
        position: relative;
        padding-left: 25px;
        padding-right: 8px;
        cursor: pointer;
    }

    & > span:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 16px;
        height: 16px;
        border: 1px solid #d9d9d9;
        border-radius: 2px;
        background-color: white;
        transition: all .2s;
        cursor: pointer;
    }

    & > input:checked + span:before {
        background-color: $primary-color;
        border-color: $primary-color;
    }

    & > span:after {
        content: '✔';
        position: absolute;
        top: -2px;
        left: 4px;
        font-size: 13px;
        color: white;
        z-index: 1;
    }

    &:hover > span:before,  & > input:focus + span:before {
        border-color: $primary-color;
    }

    & > input:disabled {
        cursor: not-allowed;

        & + span {
            color: rgba(0, 0, 0, 0.25);
            cursor: not-allowed;
        }

        & + span:before {
            animation-name: none;
            border-color: #d9d9d9 !important;
            background-color: #f5f5f5;
        }
    }
}