@import "common";

.wrap {
    position: relative;
    display: inline-block;
}

.dropdown {
    @extend %common;
    padding: 0;
    list-style: none;
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 1050;
    display: block;
    min-width: 100%;
}

.hidden {
    display: none;
}

.menu {
    outline: none;
    position: relative;
    list-style-type: none;
    padding: 4px 0;
    margin: 0;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-clip: padding-box;
}

.item {
    padding: 5px 12px;
    margin: 0;
    clear: both;
    font-size: 14px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.65);
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
    line-height: 22px;

    & > a {
        color: rgba(0, 0, 0, 0.65);
        display: block;
        padding: 5px 12px;
        margin: -5px -12px;
        transition: all .3s;
    }

    & > a:focus {
        text-decoration: none;
    }

    &.selected, &.selected > a {
        color: #1890ff;
        background-color: #e6f7ff;
    }

    &:hover {
        background-color: #e6f7ff;
    }

    &.disabled {
        color: rgba(0, 0, 0, 0.25);
        cursor: not-allowed;
    
        &:hover{
            color: rgba(0, 0, 0, 0.25);
            background-color: #fff;
            cursor: not-allowed;
        }
    }

    .divider {
        height: 1px;
        overflow: hidden;
        background-color: #e8e8e8;
        line-height: 0;
        margin: 4px 0;
    }
}

