@import "common";

.group {
    @extend %common;
    padding: 0;
    list-style: none;
    display: inline-block;
    line-height: unset;

    &.large .wrapper {
        height: 40px;
        line-height: 38px;
        font-size: 16px;
    }

    &.small .wrapper {
        height: 24px;
        line-height: 22px;
        padding: 0 7px;
    }
}

.input {
    opacity: 0;
    width: 0;
    height: 0;
}

.wrapper {
    height: 32px;
    line-height: 30px;
    display: inline-block;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-left: 0;
    border-top-width: 1.02px;
    padding: 0 15px;
    position: relative;

    &:not(:first-child)::before {
        content: "";
        display: block;
        top: 0;
        left: -1px;
        width: 1px;
        height: 100%;
        position: absolute;
        background-color: #d9d9d9;
    }

    &:first-child {
        border-radius: 4px 0 0 4px;
        border-left: 1px solid #d9d9d9;
    }
    &:last-child {
        border-radius: 0 4px 4px 0;
    }
    &:first-child:last-child {
        border-radius: 4px;
    }
    &:hover, &.focused {
        color: #1890ff;
        position: relative;
    }
   
    &.checked {
        background: #fff;
         border-color: #1890ff;
        color: #1890ff;
        box-shadow: -1px 0 0 0 #1890ff;
        z-index: 1;
    
        &::before {
            background-color: #1890ff !important;
            opacity: 0.1;
        }
        &:first-child {
            border-color: #1890ff;
            box-shadow: none !important;
        }
        &:hover {
            border-color: #40a9ff;
            box-shadow: -1px 0 0 0 #40a9ff;
            color: #40a9ff;
        }
        &:active {
            border-color: #096dd9;
            box-shadow: -1px 0 0 0 #096dd9;
            color: #096dd9;
        }
    }
    
    &.disabled {
        border-color: #d9d9d9;
        background-color: #f5f5f5;
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.25);

        &:first-child, &:hover {
            border-color: #d9d9d9;
            background-color: #f5f5f5;
            color: rgba(0, 0, 0, 0.25);
        }
        &:first-child {
            border-left-color: #d9d9d9;
        }
        &.checked {
            color: #fff;
            background-color: #e6e6e6;
            border-color: #d9d9d9;
            box-shadow: none;
        }
    }
}