.row {
    position: relative;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    @each $i in 0 8 16 24 32 40 48 64 {
        &.gutter-#{$i} {
            & > div {
                margin-left: $i * 1px / 2;
                margin-right: $i * 1px / 2;
            }
        }
    }
}
