.cell {
    cursor: pointer;
    text-align: center;
    float: left;
    background: white;

    @for $i from 2 through 6 {
        $size: 100% / ($i * $i);
        &.squaresize-#{$i} {
            width: $size;
            height: $size;
        }
    }

    box-shadow: 0px 0px 0px 1px #bdc3c7;
    &.hborder {
        box-shadow: 0px 0px 0px 1px #bdc3c7, inset 2px 0px 0 #34495e;
    }
    &.vborder {
        box-shadow: 0px 0px 0px 1px #bdc3c7, inset 0px 2px 0 #34495e;
    }
    &.hborder.vborder {
        box-shadow: 0px 0px 0px 1px #bdc3c7, inset 2px 0px 0 #34495e, inset 0px 2px 0 #34495e;
    }

    & > span {
        color: #2c3e50;
        font-size: 20px;
        text-align: middle;
    }
    
    &.fixed {
        background: #ecf0f1;
        & > span {
            color: #7f8c8d;
        }
    }

    &.selected {
        background: #3498db;
        box-shadow: 0px 0px 3px 3px #bdc3c7;
        & > span {
            color: white;
            font-weight: bold;
        }
    }
}