.eds .viz{
    height: 600px;
    width: 700px;
}

.eds .graphinput {
    height: 320px;
    width: 280px;
    font-family: monospace;
    font-size: 10pt;
}


.eds .texthelp {
    height: 500px;
    width: 420px;
    background-color: lightgray;
    font-family: monospace;
    font-size: 10pt;
}