.code {
    height: 400px;
    width: 300px;
}

.help {
    height: 650px;
    width: 340px;
    overflow: auto;
}

.output {
    height: 450px;
    width: 400px;
    overflow: auto;
}

.graphoutput {
    height: 400px;
    width: 400px;
}
