.code {
    height: 20em;
    width: 15em;
}

.help {
    height: 44em;
    width: 26em;
    overflow: auto;
}

.output {
    height: 30em;
    width: 16em;
    overflow: auto;
}

.graphoutput {
    height: 50vmin;
    width: 50vmin;
}
