.grid {
    margin: 6px auto;
    overflow: hidden;
    user-select: none;
    box-shadow: 0px 0px 5px 5px #bdc3c7;
    position: relative;

    @for $i from 2 through 6 {
        $size: min(40px * $i * $i + 10px, 800px);
        .squaresize-#{$i} {
            width: $size;
            height: $size;
        }
    }
}