$cellsize: 60px;

.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.grid {
    margin-left: 10px;
    margin-top: 30px;
    overflow: hidden;
    user-select: none;
    box-shadow: 0px 0px 5px 5px #bdc3c7;
    position: relative;

    @for $i from 5 through 12 {
        $size: $cellsize * $i;
        &.size-#{$i} {
            width: $size;
            height: $size;
        }
    }

    &.init {
        height: $cellsize;
    }
}

.square {
    position: relative;
    cursor: pointer;
    text-align: center;
    float: left;
    background: white;

    &.black {
        background: #8F8F00;
    }
    &.warning {
        background: orange;
    }

    width: $cellsize;
    height: $cellsize;
    box-shadow: 0px 0px 0px 1px #bdc3c7;
}

.queen {
    -webkit-mask-image: url("../img/queen.svg");
            mask-image: url("../img/queen.svg");
    width: 45px;
    height: 45px;
    margin: 7px;
    background-color: black;
    background-size: 45px 45px;
    transition: background-color 0.5s ease;

    &.drag {
        opacity: 0.5;
    }

    &.conflict {
        background-color: red;
    }
}


.dialog {
    display: block;
    position: absolute;
    width: 400px;
    left: 25%;
    top: 25%;
}


.dialogcontainer {
    background-color: rgba(127, 140, 141, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;

    &.hidden {
        display: none;
    }

    & button + button {
        margin-left: 10px;
    }
}

